version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: toor
      POSTGRES_DB: postgres
    ports:
      - "5532:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: server_container
    volumes:
      - ./server:/app
      - pg_data:/var/lib/postgresql/data
    command: python main.py
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: toor
      POSTGRES_DB: postgres
      POSTGRES_PORT: 5432
    depends_on:
      - postgres
    ports:
      - "50051:50051"
      
  data_collector:
    build:
      context: ./data_collector
      dockerfile: Dockerfile
    container_name: data_collector_container
    volumes:
      - ./data_collector:/app
      - pg_data:/var/lib/postgresql/data
    command: python main.py
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: toor
      POSTGRES_DB: postgres
      POSTGRES_PORT: 5432
    depends_on:
      - postgres
      - server
    
  data_cleaner:
    build:
      context: ./data_cleaner
      dockerfile: Dockerfile
    container_name: data_cleaner_container
    volumes:
      - ./data_cleaner:/app
      - pg_data:/var/lib/postgresql/data
    command: python main.py
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: toor
      POSTGRES_DB: postgres
      POSTGRES_PORT: 5432
    depends_on:
      - postgres
      - server
      - data_collector

  alert_system:
    build:
      context: ./alert_system
      dockerfile: Dockerfile
    container_name: alert_system_container
    volumes:
      - ./alert_system:/app
      - pg_data:/var/lib/postgresql/data
    command: python main.py
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: toor
      POSTGRES_DB: postgres
      POSTGRES_PORT: 5432
    depends_on:
      - postgres
      - server
      - data_collector
  
  alert_notification_system:
    build:
      context: ./alert_notification_system
      dockerfile: Dockerfile
    container_name: alert_notification_system_container
    volumes:
      - ./alert_notification_system:/app
      - pg_data:/var/lib/postgresql/data
    command: python main.py
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: toor
      POSTGRES_DB: postgres
      POSTGRES_PORT: 5432
    depends_on:
      - postgres
      - server
      - data_collector
      - alert_system

volumes:
  pg_data: