apiVersion: apps/v1
kind: Deployment
metadata:
  name: alert-notification-deployment
  labels:
    app: alert-notification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alert-notification
  template:
    metadata:
      labels:
        app: alert-notification
    spec:
      automountServiceAccountToken: false
      containers:
      - name: alert-notification-container
        image: dsbd_hw-alert_notification_system:latest
        imagePullPolicy: IfNotPresent
        resources:
          limits:
            memory: "512Mi"
            cpu: "500m"
          requests:
            memory: "256Mi"
            cpu: "250m"
            ephemeral-storage: "1Gi"
        env:
        - name: POSTGRES_USER
          value: "root"
        - name: POSTGRES_PASSWORD
          value: "toor"
        - name: POSTGRES_DB
          value: "postgres"
        - name: POSTGRES_PORT
          value: "5432"
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka-broker:9092"
        - name: EMAIL_SENDER_USER
          valueFrom:
            secretKeyRef:
              name: email-credentials
              key: EMAIL_SENDER_USER
        - name: EMAIL_SENDER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: email-credentials
              key: EMAIL_SENDER_PASSWORD
        ports:
        - containerPort: 50059
---
apiVersion: v1
kind: Service
metadata:
  name: alert-notification-service
  labels:
    app: alert-notification
spec:
  selector:
    app: alert-notification
  ports:
  - name: http
    protocol: TCP
    port: 50059
    targetPort: 50059