apiVersion: apps/v1
kind: Deployment
metadata:
  name: alert-system-deployment
  labels:
    app: alert-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: alert-system
  template:
    metadata:
      labels:
        app: alert-system
    spec:
      automountServiceAccountToken: false
      containers:
      - name: alert-system-container
        image: dsbd_hw-alert_system:latest
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "500m"
            memory: "256Mi"
            ephemeral-storage: "1Gi"
          limits:
            cpu: "1"
            memory: "512Mi"
        env:
        - name: POSTGRES_USER
          value: "root"
        - name: POSTGRES_PASSWORD
          value: "toor"
        - name: POSTGRES_DB
          value: "postgres"
        - name: POSTGRES_PORT
          value: "5432"
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka-broker:9092"
        ports:
        - containerPort: 50058
---
apiVersion: v1
kind: Service
metadata:
  name: alert-system-service
  labels:
    app: alert-system
spec:
  selector:
    app: alert-system
  ports:
  - name: http
    protocol: TCP
    port: 50058
    targetPort: 50058