apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-cleaner-deployment
  labels:
    app: data-cleaner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: data-cleaner
  template:
    metadata:
      labels:
        app: data-cleaner
    spec:
      automountServiceAccountToken: false
      containers:
      - name: data-cleaner-container
        image: dsbd_hw-data_cleaner:latest
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "500m"
            memory: "256Mi"
            ephemeral-storage: "1Gi"
          limits:
            cpu: "1"
            memory: "512Mi"
        env:
        - name: POSTGRES_USER
          value: "root"
        - name: POSTGRES_PASSWORD
          value: "toor"
        - name: POSTGRES_DB
          value: "postgres"
        - name: POSTGRES_PORT
          value: "5432"
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka-broker:9092"
---
apiVersion: v1
kind: Service
metadata:
  name: data-cleaner-service
  labels:
    app: data-cleaner
spec:
  selector:
    app: data-cleaner
  ports:
  - name: http
    protocol: TCP
    port: 50057
    targetPort: 50057