apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-collector-deployment
  labels:
    app: data-collector
spec:
  replicas: 1
  selector:
    matchLabels:
      app: data-collector
  template:
    metadata:
      labels:
        app: data-collector
    spec:
      automountServiceAccountToken: false
      containers:
      - name: data-collector-container
        image: dsbd_hw-data_collector:latest
        imagePullPolicy: IfNotPresent
        resources:
          requests:
            cpu: "500m"
            memory: "256Mi"
            ephemeral-storage: "1Gi"
          limits:
            cpu: "1"
            memory: "512Mi"
        env:
        - name: POSTGRES_USER
          value: "root"
        - name: POSTGRES_PASSWORD
          value: "toor"
        - name: POSTGRES_DB
          value: "postgres"
        - name: POSTGRES_PORT
          value: "5432"
        - name: KAFKA_BOOTSTRAP_SERVERS
          value: "kafka-broker:9092"
        ports:
        - containerPort: 50056
---
apiVersion: v1
kind: Service
metadata:
  name: data-collector-service
  labels:
    app: data-collector
spec:
  selector:
    app: data-collector
  ports:
  - name: http
    protocol: TCP
    port: 50056
    targetPort: 50056