apiVersion: apps/v1
kind: Deployment
metadata:
  name: data-cleaner-deployment
  labels:
    app: data-cleaner
spec:
  replicas: 1
  selector:
    matchLabels:
      app: data-cleaner
  template:
    metadata:
      labels:
        app: data-cleaner
    spec:
      automountServiceAccountToken: false
      initContainers:
      - name: init-postgres 
        image: busybox 
        command: ['sh', '-c', 'until nc -z -v -w30 postgres 5432; do echo "Waiting for PostgreSQL..."; sleep 5; done'] 
      - name: init-kafka #TODO: perchè kakfa?
        image: busybox
        command:
          - "sh"
          - "-c"
          - |
            # Attempt to connect to the 3 Kafka brokers. Runs until it connects to one of them
            for kafka_broker in "kafka-broker-1:9092" "kafka-broker-2:9092" "kafka-broker-3:9092"; do
              echo "Trying to connect to $kafka_broker..."
              until nc -zv $kafka_broker; do
                echo "Waiting for $kafka_broker to be available..."
                sleep 3
              done
              echo "$kafka_broker is now available!"
              break
            done
      containers:
      - name: data-cleaner-container
        image: francescoromeo/dsbd_hw_data_cleaner:latest
        resources:
          requests:
            cpu: "500m"
            memory: "256Mi"
            ephemeral-storage: "1Gi"
          limits:
            cpu: "1"
            memory: "512Mi"
        env:
        - name: POSTGRES_USER
          value: "root"
        - name: POSTGRES_PASSWORD
          value: "toor"
        - name: POSTGRES_DB
          value: "postgres"
        - name: POSTGRES_PORT
          value: "5432"
        - name: KAFKA_BOOTSTRAP_SERVERS #TODO: perchè kakfa?
          value: "kafka-broker-1:9092,kafka-broker-2:9092,kafka-broker-3:9092"
---
apiVersion: v1
kind: Service
metadata:
  name: data-cleaner-service
  labels:
    app: data-cleaner
spec:
  selector:
    app: data-cleaner
  ports:
  - name: http
    protocol: TCP
    port: 50057
    targetPort: 50057