apiVersion: apps/v1
kind: Deployment
metadata: 
  name: kafka-manager-deployment
  labels: 
    app: kafka-manager
spec:
  replicas: 1
  selector:
    matchLabels: 
      app: kafka-manager
  template: 
    metadata:
      labels:
        app: kafka-manager
    spec:
      initContainers:
        - name: init-kafka
          image: busybox
          command:
            - "sh"
            - "-c"
            - |
              # Attempt to connect to the 3 Kafka brokers. Runs until it connects to one of them
              for kafka_broker in "kafka-broker-1:9092" "kafka-broker-2:9092" "kafka-broker-3:9092"; do
                echo "Trying to connect to $kafka_broker..."
                until nc -zv $kafka_broker; do
                  echo "Waiting for $kafka_broker to be available..."
                  sleep 3
                done
                echo "$kafka_broker is now available!"
                break
              done
      containers:
        - name: kafka-manager-container
          image: alestrange01/dsbd_hw_kafka_manager_30_seconds:latest